<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="RemRes ServiceInstaller" Language="1033" Version="1.0.0.0" Manufacturer="FHWN" UpgradeCode="e05f02c4-8d13-466c-97d9-75b61a705f0b">
		<Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="RemResServiceInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="RemRes Service" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Guid="{5038D809-2B73-47A0-B025-12797E13A7A4}" >
        <File Source="$(var.RemResService.TargetPath)" KeyPath="yes" />
        <ServiceInstall Id="ServiceInstaller"
                        Name="RemResService" DisplayName="RemResService" Description="RemRes Service - Computer WMI watcher"
                        ErrorControl="ignore"  Start="auto" Type="ownProcess"
                        Account="[SERVICEACCOUNT]" />
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="RemResService" Wait="yes" />
      </Component>
      <Component Guid="{9A42D291-6880-48B3-88EC-8F616B18358E}" >
        <File Source="$(var.RemResLib.TargetPath)" KeyPath="yes" />
      </Component>
      <Component Guid="{091C61BC-17C5-4692-91CB-C18B0007EDC1}">
        <File Source="$(var.RemResDataLib.TargetPath)" KeyPath="yes" />
      </Component>
      <Component Guid="{362B3668-992E-49FA-B366-EC48FDEDA576}" >
        <File Source="..\RemResService\bin\Release\RemResService.exe.config" KeyPath="yes" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>